
.getStartedText{
    width: 50%;
    height: 50%;
    color: #C0B283;
    text-shadow: 2px 2px #fff;

    position: absolute;
    top:40%;
    bottom: 0;
    left: 0;
    right: 0;

        margin: auto;
    text-align: center;
  }

  body{
    font-family: "brandon-grotesque",sans-serif;
    background: url("../images/landingPageImage.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Berkshire Swash', cursive;
}
.getStartedDiv {
    height:100%;
    width:100%;
    margin:auto;
  }
  
.charcoalBackground{
      background: #373737;
  }
.goldColor{
    color: #C0B283;
    text-shadow: .5px .5px white;
}

.btn-lg{
    background: #C0B283;
    text-shadow: 2px 2px #373737;
    box-shadow: 2px 2px 5px white;
}


.btn:hover{
  color:#fff;
  border:solid #fff 3px;
}
a:hover{
    color: white;
}

form.signup,
form.login {
    margin-top: 50px;
}
